<!DOCTYPE html>  
<html lang="es">  
<head>  
<meta charset="UTF-8">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<title>Bienvenido a la Minería Santo Tomás</title>  
<link rel="stylesheet" href="/static/index.css">  
</head>  
<body>  
<div class="container"><h1 class="title">Análisis de Apagones Eléctricos en Santo Domingo Oeste</h1>
    <p class="description">Para ingresar al formulario porfavor precione el boton formulario</p>
    <a href="/formulario" class="btn">Formulario</a>  
</div>  
</body>  
</html>  